a {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  
}

p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

*{
  margin: 0;
  padding: 0;
}

html {
  background-color: #143cda;
}

body {
 
  min-height: 100vh;
  overflow-x: hidden;
  margin-bottom: 100px;
}

nav{
  position: relative;
  background-color: #143cda;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.336);
  z-index: 2;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 60px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

nav a:hover{
  background-color: #081fb9;
}

nav li:first-child{
  margin-right: auto;
}

.nav_logo {
  margin: 3px;
  width: 75px;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100hv;
  width: 250px;
  z-index: 999;
  background-color: #0f2596;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.336);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}




.bg-colours, .bg-colours2 {
  position: absolute;
  display: flex;
  height: 800px;
  gap: 3px;
  
  overflow: hidden;
  z-index: -10;
}
.bg-colours {
  transform: rotate(45deg);
  top: -200px;
}
.bg-colours2 {
  transform: rotate(135deg);
  right: 0%;
  top: -200px;
}

.first-colour {
  background-color: black;
  height: 100%;
  width: 35px;
}
.second-colour {
  background-color: red;
  height: 100%;
  width: 35px;
}.third-colour {
  background-color:  yellow;
  height: 100%;
  width: 35px;
}


.all-clothing {
  display: grid;
    grid-template-columns: repeat(3, 25vw);
    gap: 1em;
    margin: 0px auto;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 80px;
}

.clothing {
  height: 400px;
  width: 300px;
  background-color:#143cda;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}
.clothing-price a {
  text-decoration: none;
}

.clothing-photo {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #143cda;
}


.clothing-price {
  display: flex;
  align-content: flex-start;
  margin-left: 10px;
  margin-top: 0px;
  ;
}
.price {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-content: flex-start;
  color: white;
  text-decoration: none;

}

.clothing-txt {
  display: flex;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  text-decoration: none;

}

.clothing-image {
  width: 300px;
}

.clothing-image:hover {
  scale: 1.1;
  transition: 1s ease 0.1s;
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
}

@media(max-width: 500px){
  .all-clothing {
    display: flex;
    flex-wrap: wrap;
  }

  .bg-colours, .bg-colours2 {
    display: none;
  }
}
